
h1 {
	text-decoration: underline;

	/* -webkit-marquee: auto medium infinite alternate normal; */
	/*
		marquee-direction: forward;
		marquee-play-count: infinite;
		marquee-speed: normal;
		marquee-style: alternate;
	*/
}

h2 {
	font-weight: bold;
}

h3 {
	font-weight: bold;
}

body {
	color: black;
}

body header {
	background: #90EE90;
	border:1px solid #000000;
	color: black;
	text-align: center;

	/* marquee-direction: left; */
	/* marquee-play-count: 10; */
	/* marquee-speed: normal; */
	/* marquee-style: alternate; */

}



[ id |= picture ] {
	alignment: center;
	border-radius: 10px;

	/* Have the image resize automatically as the size of the browser window changes. */
	max-width: 100%;
	height: auto;

	/* Center the image. */
	display: block;
	margin: auto;
	width: 50%;
}


[ src $= svg ] {
	alignment: right;
	border-radius: 10px;

	/* Have the image resize automatically as the size of the browser window changes. */
	max-width: 80%;
	height: auto;

	/* Center the image. */
	display: block;
	margin: auto;
	width: 80%;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	width: 100%;
}

td {
	border: 1px solid black;
	text-align: left;
	vertical-align: top;
	padding: 5px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
	background-color: #90EE90;
	color: black;
	border: 1px solid black;
	text-align: left;
	vertical-align: middle;
	padding: 5px;
}

