
/*
* Nav Bar
*/

body {
	padding-bottom: 10vh; /* Padding so content is not hidden behind navbar */
	background-color: #f9e3a9;
}

.navbar-default {
	border-color: #082877; /* Border color for the entire navbar */
	border-width: none; /* Border width for the entire navbar */
	border-radius: 0; /* Border radii for the entire navbar */
	background-color: #a9c0f9; /* Background color for the entire navbar (empty areas mostly, as the navbar's menu items can have their color set independently) */
	background-image: none; /* Background image for the entire navbar */
}

.navbar-default .navbar-brand {
	float: left;
	font-weight: bold;
	color: #082877; /* Default text color for navbar's brand  */
	background-color: none; /* Default color for navbar's brand */
	/*background-image: url("../img/brand-logo.png"); !* Default background image for navbar's brand  *!*/
}

.navbar-default .navbar-brand:hover {
	float: left;
	font-weight: bold;
	color: #a9c0f9; /* Text color for navbar's brand when it's hovered over */
	background-color: #082877; /* Background color for navbar's brand when it's hovered over */
	background-image: none; /* Background image for navbar's brand when it's hovered over */
}

.navbar-default .navbar-brand:focus {
	float: left;
	font-weight: bold;
	color: #a9c0f9; /* Text color for the navbar's brand when it has the focus */
	background-color: #082877; /* Background color for navbar's brand when it has the focus */
	background-image: none; /* Background image for the navbar's brand when it has the focus */
}


.navbar-default .navbar-nav > li > a {
	text-shadow: none;
	color: #082877; /* Text color for the items in the navbar's menu */
	background-color: #a9c0f9; /* Background color for the items in the navbar's menu */
	background-image: none; /* Background image for the items in the navbar's menu */
}

.navbar-default .navbar-nav > li > a:hover {
	text-shadow: none;
	font-weight: bold;
	color: #a9c0f9;
	background-color: #082877; /* Hover color for the items in the navbar's menu */
	background-image: none; /* Background image for the items in the navbar */
}

.navbar-default .navbar-nav > li > a:focus {
	text-shadow: none;
	font-weight: bold;
	color: #a9c0f9; /* Text color for navbar's brand when it's hovered over */
	background-color: #082877; /* Hover color for the items in the navbar's menu */
	background-image: none; /* Background image for the items in the navbar */
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	text-shadow: none;
	color: #a9c0f9; /* Text color for toggle button text */
	background-color: #082877; /* Background color for toggle buttons */
	background-image: none;
}

.navbar-default .navbar-text {
	text-shadow: none;
}

.navbar-default .navbar-heading button.navbar-toggle {
	border-color: #082877; /*  */
	border-width: medium;
	text-shadow: none;
	color: #a9c0f9;
	background-image: none;
}

.navbar-default .navbar-heading button.navbar-toggle:hover,
.navbar-default .navbar-heading button.navbar-toggle:focus {
	text-shadow: none;
	color: #a9c0f9;
	background-color: #082877; /*  */
	background-image: none;
}

.navbar-default .navbar-heading button.navbar-toggle .glyphicon {
	text-shadow: none;
	color: #082877;
	background-color: #a9c0f9; /*  */
	background-image: none;
}

.navbar-default .navbar-heading button.navbar-toggle:hover .glyphicon,
.navbar-default .navbar-heading button.navbar-toggle:focus .glyphicon {
	text-shadow: none;
	color: #a9c0f9;
	background-color: #082877; /*  */
	background-image: none;
}

.navbar-default .dropdown {
	text-shadow: none;
	color: #082877; /* Text color for the items in the navbar's menu */
	background-color: #a9c0f9; /* Background color for the items in the navbar's menu */
	background-image: none; /* Background image for the items in the navbar's menu */
}

.navbar-default .dropdown:hover,
.navbar-default .dropdown:focus,
.navbar-default .dropdown:enabled {
	text-shadow: none;
	color: #a9c0f9; /* Text color for the items in the navbar's menu */
	background-color: #082877; /* Background color for the items in the navbar's menu */
	background-image: none; /* Background image for the items in the navbar's menu */
}

.navbar-default .navbar-nav .dropdown .dropdown-toggle {
	text-shadow: none;
	color: #082877; /* Text color for the items in the navbar's menu */
	background-color: #a9c0f9; /* Background color for the items in the navbar's menu */
	background-image: none; /* Background image for the items in the navbar's menu */
}

.navbar-default .navbar-nav .dropdown .dropdown-toggle:hover,
.navbar-default .navbar-nav .dropdown .dropdown-toggle:focus,
.navbar-default .navbar-nav .dropdown .dropdown-toggle:enabled {
	text-shadow: none;
	color: #082877; /* Text color for the items in the navbar's menu */
	background-color: #082877; /* Background color for the items in the navbar's menu */
	background-image: none; /* Background image for the items in the navbar's menu */
}

.navbar-default .navbar-nav .dropdown .dropdown-menu {
	text-shadow: none;
	color: #082877; /* Text color for the items in the navbar's menu */
	background-color: #a9c0f9; /* Background color for the items in the navbar's menu */
	background-image: none; /* Background image for the items in the navbar's menu */
}

.navbar-default .navbar-nav .dropdown .dropdown-menu:hover,
.navbar-default .navbar-nav .dropdown .dropdown-menu:focus,
.navbar-default .navbar-nav .dropdown .dropdown-menu:enabled {
	text-shadow: none;
	color: #a9c0f9; /* Text color for the items in the navbar's menu */
	background-color: #082877; /* Background color for the items in the navbar's menu */
	background-image: none; /* Background image for the items in the navbar's menu */
}

.navbar-default .navbar-nav .dropdown .dropdown-menu li a {
	text-shadow: none;
	color: #082877; /* Text color for the items in the navbar's menu */
	background-color: #a9c0f9; /* Background color for the items in the navbar's menu */
	background-image: none; /* Background image for the items in the navbar's menu */
}

.navbar-default .navbar-nav .dropdown .dropdown-menu li a:hover,
.navbar-default .navbar-nav .dropdown .dropdown-menu li a:focus {
	text-shadow: none;
	font-weight: bold;
	color: #a9c0f9; /* Text color for navbar's brand when it's hovered over */
	background-color: #082877; /* Hover color for the items in the navbar's menu */
	background-image: none; /* Background image for the items in the navbar */
}

/*
* Sections
*/

section {
	background-color: #f9e3a9;
}

#top-of-page {
	margin-bottom: 2vh;
}

.carousel-caption {
	color: white;
	font-size: 2em;
	font-weight: bold;
}

.section-heading {
	margin: 2vh;
	border-radius: 10px;
	background-color: #a9c0f9;
	height: 5em;
	line-height: 5em;
	text-align: center;
}

.section-heading-text {
	margin: 2vh;
	color: #082877;
	font-size: 2em;
	font-weight: bold;
}

.subsection-heading {
	margin: 2vh;
	border-radius: 10px;
	background-color: #a9c0f9;
	height: 2em;
	line-height: 2em;
	text-align: center;
	vertical-align: middle;

}

.subsection-heading-text {
	margin: 2vh;
	color: #082877;
	font-weight: bold;
}

.contact-form {
	margin: 2vh;
	border-radius: 10px;
	background-color: #a9c0f9
}

form#contact-form.form-horizontal.well {
	margin: 2vh;
	background-color: #a9c0f9;
	background-image: none;
	border: none;
}

.input-group-addon {
	background-color: #a9c0f9;
	border-color: #082877;
	color: #082877;
}

.form-control {
	border-color: #082877;
}

#captcha-reload-button {
	border-radius: 25px;
}












